{% extends "base.html" %} {% block content %}
<div class="centered-form-container">
  <div class="stripe red"></div>
  <div class="stripe blue"></div>
  <div class="stripe green"></div>
  <div class="centered-form">
    <h1
      class="text-center mb-4 titleText"
      data-aos="zoom-in"
      style="font-family: 'SpaceAge', sans-serif"
    >
      Star Companion
    </h1>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="form-group" data-aos="zoom-in">
        <input
          type="text"
          class="form-control"
          id="{{ form.username.id_for_label }}"
          name="{{ form.username.name }}"
          placeholder="Username"
          required
        />
        <div class="invalid-feedback">Please provide a valid username.</div>
      </div>
      <div class="form-group" data-aos="zoom-in">
        <input
          type="password"
          class="form-control"
          id="{{ form.password.id_for_label }}"
          name="{{ form.password.name }}"
          placeholder="Password"
          required
        />
        <div class="invalid-feedback">Please provide a valid password.</div>
      </div>
      <button
        type="submit"
        data-aos="zoom-in"
        id="login-button"
        class="btn btn-primary hidden"
      >
        Login
      </button>
      <a
        href="{% url 'signup' %}"
        class="btn btn-secondary mt-2"
        data-aos="zoom-in"
        >Sign Up</a
      >
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const usernameInput = document.getElementById(
      "{{ form.username.id_for_label }}"
    );
    const passwordInput = document.getElementById(
      "{{ form.password.id_for_label }}"
    );
    const loginButton = document.getElementById("login-button");

    function checkInputs() {
      if (usernameInput.value.length > 0 && passwordInput.value.length > 0) {
        fadeIn(loginButton);
      } else {
        fadeOut(loginButton);
      }
    }

    usernameInput.addEventListener("input", checkInputs);
    passwordInput.addEventListener("input", checkInputs);
  });

  function fadeIn(element) {
    element.style.opacity = 1;
  }

  function fadeOut(element) {
    element.style.opacity = 0;
  }
</script>
{% endblock %}
