@font-face {
  font-family: "SpaceAge";
  src: url("/static/spaceage.ttf") format("truetype");
}

@font-face {
  font-family: "CourierPrime";
  src: url("/static/CourierPrime-Regular.ttf") format("truetype");
}

body {
  font-family: "CourierPrime", sans-serif;
}
