@font-face {
  font-family: "SpaceAge";
  src: url("/static/spaceage.ce43c6569134.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  src: url("/static/CourierPrime-Regular.fba4686ed1d1.ttf") format("truetype");
}
